@font-face {
	font-family: lolipop;
	src: local(lolipop), url(fontes/lolipop.ttf);
}

* {
    padding: 0;
    margin: 0; 
}

/*INÍCIO CABEÇALHO*/

.container {
    width: 100%;
    height: 600px;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: url(imagens/ahri1.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
}

.container1 {
    width: 100%;
    height: 600px;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: url(imagens/ahri2.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
}
.container2 {
    width: 100%;
    height: 600px;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: url(imagens/ahri3.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
}
.container3 {
    width: 100%;
    height: 600px;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: url(imagens/ahri4.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
}
.container4 {
    width: 100%;
    height: 600px;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: url(imagens/ahri5.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
}
.container5 {
    width: 100%;
    height: 600px;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: url(imagens/ahri6.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background: rgb(220, 192, 233, 0.5);
    padding-bottom: 8px;
    align-content: center;
}

a#titulo {
    margin-left: 5%;
    font-family: lolipop, arial;
    font-size: 2em;
    letter-spacing: 4px;
    color: rgb(86, 0, 97);
    cursor: pointer;
}

img#menu {
    width: 50px;
    height: 70px;
    margin-left: 20px;
}

#lupa {
    width: 25px;
    margin-top: 5px;
}

.search {
    margin-top: 200px;
    background-color: white;
    width: 350px;
    height: 35px;
    border-radius: 7px;
    border: 2px solid black;
}

input#pesquisar {
    width: 300px;
    height: 25px;
    border: none;
    position: relative;
    top: -8px;

}

#menu-flutuante {
    margin-top: 40px;
    padding: 5px 15px 5px 15px;
    background: rgb(220, 192, 233);
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgb(136, 30, 131);    
}

#menu-flutuante ul {
    list-style-type: none;
}

#menu-flutuante a {
    text-decoration: none;
    color: rgb(86, 0, 97);
    font-family: lolipop, arial;
    letter-spacing: 4px;
    font-size: 30px;
    padding-bottom: 5px;

}

#menu-flutuante a:hover {
    color: rgb(218, 0, 199);
}

#menu-principal {
    padding: 5px 15px 5px 15px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 5%;
}

/*FIM CABEÇALHO*/

/*INÍCIO BODY*/

body {
    background: rgb(230, 255, 255);
    display: flex;
    flex-direction: column;
     
}

a.leia-mais {
    text-decoration: none;
    padding: 20px;
    background: rgb(87, 3, 104);
    color: #fff;
}

#container-principal {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

}

.conteudo {
    background: #fff url(imagens/serapacao-sections.jpg) repeat-x top;
    width: 80%;
    padding: 30px 0 30px 0;
}

#primeiro {
    background: #fff;
}

.conteudo h1 {
    padding: 30px 0 15px 0;
    font-size: 40px;
}

.conteudo p {
    padding: 15px 0 15px 0;
}

.image-section {
    width: 80%;
    margin: 30px;
    border-radius: 20px;
}

.container-interno {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#container-esquerda {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin: auto;
    justify-content: center;
    align-items: center;
}

a#leia-mais {
    text-decoration: none;
    padding: 10px;
    background: rgb(87, 3, 104);
    color: #fff;
    width: 100px;
    text-align: center;
}

a#leia-mais-section3 {
    text-decoration: none;
    padding: 10px;
    background: rgb(87, 3, 104);
    color: #fff;
    width: 160px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
}

.texto {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 55%;
}

#texto-esquerda {
    display: flex;
    flex-direction: column;
    width: 55%;
    align-items: flex-end
}

#texto-esquerda h1 {
    text-align: right;
}

#texto-esquerda p {
    text-align: right;
}

.texto-lore {
    text-align: center;
}

.texto-lore p {
    width: 80%;
    margin: auto;
}

#lore {
    font-family: lolipop;
}

#animation {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    width: 80%;
}

#ahri-animation {
    width: 200px;
    margin-top: 20px;
    margin-left: -1000px;
}

#orbe-animation {
    position: relative;
    left: -750px;
    animation-duration: 3s;
    animation-name: deslizar;
    animation-iteration-count: infinite; 
}

@keyframes deslizar{
    0% {
        left: -750px;
    } 50% {
        left: -80px;
    } 100% {
        left: -750px;
    }
}

#orbe-animation img {
    width: 90px;
    margin-top: 40px;
}



/*FIM BODY*/

/*INÍCIO RODAPÉ*/

#rodape {
    background: #000;
    color: #fff;
    font-family: arial;
    margin-top: 30px;
    padding: 30px 0 30px 0;
    text-align: center;
}

/*FIM RODAPÉ*/